# ==============================================================================
# FirstPass Git Ignore Configuration
# ==============================================================================

# ------------------------------------------------------------------------------
# Local Development Files
# ------------------------------------------------------------------------------

/alles.cpp
/main.py


# ------------------------------------------------------------------------------
# CMake Build Output
# ------------------------------------------------------------------------------

/build/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile

compile_commands.json


# ------------------------------------------------------------------------------
# Compiler Output
# ------------------------------------------------------------------------------

*.o
*.o.d
*.obj
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe
*.out


# ------------------------------------------------------------------------------
# Generated FirstPass Executables
# ------------------------------------------------------------------------------

/FirstPass


# ------------------------------------------------------------------------------
# Generated Testbench Executables
# ------------------------------------------------------------------------------

/tests/ac/scripts/a.out
/tests/op/scripts/a.out
/tests/tran/scripts/a.out


# ------------------------------------------------------------------------------
# Generated Verifier Executable
# ------------------------------------------------------------------------------

/tests/verifier/verifier

# ------------------------------------------------------------------------------
# Generated Simulation Reference Files
# ------------------------------------------------------------------------------

/tests/reference/AC_Testbench.csv
/tests/reference/OP_Testbench.csv
/tests/reference/TRAN_Testbench.csv

# ------------------------------------------------------------------------------
# Generated Simulation Results
# ------------------------------------------------------------------------------

/tests/ac/results/AC_Testbench.csv
/tests/op/results/OP_Testbench.csv
/tests/tran/results/TRAN_Testbench.csv


# ------------------------------------------------------------------------------
# Generated External Simulator Output
# ------------------------------------------------------------------------------

/tests/ac/results/*.prn